<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqLibrary.Properties.Settings.TestConnectionString"
            connectionString="Data Source=BJ-ZB1-WMS-GRR;Initial Catalog=Test;Persist Security Info=True;User ID=sa;Password=cc.123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>